.background {
    background-image: linear-gradient(to bottom, #ffffff 0%, #b9d8fa 200%);
}

.introduction {
    // list-style: none;
    position: relative;
    left    : 20px;
    color   : #4d4f50;
}